<link rel="stylesheet" href="/nav.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sneak-peek">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/darch_whitepy.png" class="logo-img">
        DarchAI
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/interface">Interface</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/progress">Task Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <%if(user){ %>
              <a class="nav-link" href="#" style="border-width: 3px; border-color: white;">Hello, <span class="hello-user"><%=user.name%></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout" style="border-width: 3px; border-color: white;">Logout <i class="fa fa-sign-out" aria-hidden="true" style="margin-left: 0.5rem;"></i></a>
              </li>
              <%} else {%>
              <a class="nav-link login" href="/login">Login</a>
              <%}%>


        </ul>
      </div>
    </div>
  </nav> 