<div class="col-md-4 mb-4">
    <div class="card h-100">
        <div class="logo-wrapper">
            <img src="/assets/logo_black.png" alt="DarchAI Logo" class="card-img-top"> 
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= role %></h6>
            <p class="card-text">Reach out: <% if (email) {%><a href="mailto:<%= email %>"><%= email %> <% } else {%>Contact Not Available<% } %> </a></p>
        </div>
    </div>
</div>