<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/header") %>
    <link rel="stylesheet" href="css/404.css">
</head>
<body>
    <%- include("partials/navbar")%>
    <div id="particles-js"></div>
    <div class="container mt-5 text-center">
        <h1>404</h1>
        <p>Sorry, the page you're looking for cannot be found.</p>
    </div>
    <%- include ("partials/footer") %>
</body>
</html>
