<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/header") %>
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>
    <%- include("partials/navbar")%>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 text-center mb-5">
                <h1>Contact Us</h1>
            </div>
            <div class="col-12 col-lg-8 mb-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Email Us</h5>
                        <p class="card-text">For support, please email us at <a href="mailto:info@darchai.com">info@darchai.com</a>.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Feedback Form</h5>
                        <p class="card-text">We'd also love to hear your feedback. Please fill out our feedback form below or in a <a href="https://docs.google.com/forms/d/e/1FAIpQLScr_qyZkR8zc7ucNp6OUigKCJK2xJyLqeeU62WzW3p0Rm4Arg/viewform" target="_blank">new tab</a>:</p>
                        <!-- Replace this with your own Google Form embed code -->
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScr_qyZkR8zc7ucNp6OUigKCJK2xJyLqeeU62WzW3p0Rm4Arg/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ("partials/footer") %>
</body>
</html>
