<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Register</title>
    <link href="/css/register.css" rel="stylesheet">

  </head>
  <body>
    <div class="login-form-container">
      <h1>Login</h1>
      <a href="/auth/google" class="register-btn">Sign in with Google</a>
      <a href="/" class="back-to-home">Back to Homepage</a>
    </div>
    <script src="/js/register.js"></script>
    <%- include("partials/footer")%>
  </body>
  
</html>
