@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  body {
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    font-family: 'Montserrat', sans-serif;
    overscroll-behavior: none;
    animation: gradient-animation 10s ease infinite;
    background-size: 200%;
    background-repeat: repeat;
}

.ev-title {
    color: white;
    font-weight: lighter;
    animation: bob 3s ease-in-out 0s infinite;
    background: linear-gradient(120deg, #ffffff, #c9c9c9);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

@keyframes bob {
    0% {
        transform: translateY(0);
        background-position: 0% 50%;
    }
    50% {
        transform: translateY(3px);
        background-position: 100% 50%;
    }
    100% {
        transform: translateY(0);
        background-position: 0% 50%;
    }
}
.evidence-card {
    transition: all 0.3s ease;
    font-family: 'Calibri';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f9fa;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }

  .evidence-card .evidence-url {
    font-weight: bold;
    color: #007bff;
  }

  .evidence-card .tagline {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    border-color: #dee2e6;
  }

  .evidence-card .relevant {
    font-weight: bold;
    text-decoration: underline;
  }

  .evidence-card .high-similarity {
    text-decoration: underline;
  }

  .evidence-card .small-text {
    font-size: 8px;
  }

  .evidence-card:hover {

    transform: scale(1.01);
  }

  .sentence {
    font-size: 14px;
  }
  .small-sentence {
    font-size: 8px;
  }
  .card-body {
    padding: 1rem 1.5rem;
  }

  .custom-checkbox {
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
  }