.navbar-brand .logo-img {
    height: 4rem;
    margin: 0 0.5rem;
}
.nav-link {
    position: relative;
    transition: color 0.3s ease;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    background: #ffffff;
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  